<p id="notice"><%= notice %></p>

<h1>Listing Ticket Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Seat id seq</th>
      <th>Address</th>
      <th>Price paid</th>
      <th>Email address</th>
	  <th>Phone Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_apps.each do |ticket_app| %>
      <tr>
        <td><%= ticket_app.name %></td>
        <td><%= ticket_app.seat_id_seq %></td>
        <td><%= ticket_app.address %></td>
        <td><%= ticket_app.price_paid %></td>
        <td><%= ticket_app.email_address %></td>
		<td><%= ticket_app.phone %></td>
        <td><%= link_to 'Show', ticket_app %></td>
        <td><%= link_to 'Edit', edit_ticket_app_path(ticket_app) %></td>
        <td><%= link_to 'Destroy', ticket_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket app', new_ticket_app_path %>
